.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar a {
  text-transform: uppercase;
  margin: 0 1rem;
}
